.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.select2-container--default .select2-selection--single {
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000;
}
.img-preview {
    position: relative;
    display: inline-block;
    max-width: 300px;
}

.img-preview .delete-img, .img-preview .crop-img {
    position: absolute;
    top: 7px;
    right: 7px;
}

.img-preview .crop-img {
    right: 45px;
}

.datatable img {
    max-width: 80px;
}
.nowrap {
    white-space: nowrap;
}
.select2-container--default {
    width: 100% !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #3c8dbc;
}
.select2-container--default .select2-selection--multiple {
    border-color: #d2d6de;
    border-radius: 0;
}
.has-error .select2-container--default .select2-selection--single,
.has-error .select2-container--default .select2-selection--multiple,
.has-error .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #dd4b39;
}
.relations {
    padding: 5px 50px;
}
table.dataTable thead th {
    padding: 0;
}
table.dataTable thead th a {
    display: block;
    padding: 10px 18px;
}
.sorting .fa {
    color: #6c6c6c;
}
.label.true::before {
    content: 'True'
}
.label.false::before {
    content: 'False'
}
span.label.true:empty, span.label.false:empty {
    display: inline-block;
}
.mark, mark {
    padding: .2em 0;
    background-color: #fcf8e3;
}
/* CSS for ajax message */
.absolute-styles{
    position: fixed;
    top: 11%;
    z-index: 1100;
    right: 2%;
    min-width: 420px;
}    
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.img-thumbnail {
    min-width: 91px;
    min-height: 48px;
}
.iphone {
    width:533px;
    height:933px;
}
.iphone-display {
    width:375px;
    height:667px;
    background: #fff;
    z-index: 1;
    position: absolute;
    left: 74px;
    top: 104px;
}
.iphone-content {
    height: 392px;
    overflow-y: auto;
}
.iphone-item td {
    vertical-align: baseline;
    color: #69699b;
    font-size: 14px;
    line-height: 18px;
}
.iphone-item img {
    margin-right: 2px
}
.iphone-item .sub-td {
    opacity: 0.5;
    font-size: 12px;
    line-height: 12px;
}
.iphone-row {
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    justify-content: space-between
}
.mr32 {
    margin-right: 32px;
}
.iphone-logo {
    margin-bottom: 11px;
}
.iphone-display h2 {
    height: 40px;
    color: #69699b;
    font-size: 16px;
    line-height: 20px;
    margin: 0
}
.iphone-logos {
    height: 135px;
    width: 112px;
    float: left;
}
.iphone-logos img {
    max-width: calc(100% - 10px);
    max-height: 62px;
    display: block;
}
.iphone-data {
    float: left;
    width: 220px;
}
.iphone-display-top {
    width: 332px;
    height: 135px;
    margin: 35px auto 0;
}
.iphone-description {
    margin: 29px 15px 5px 15px;
    color: #69699b;
    font-size: 12px;
    line-height: 16px;
}
.iphone-display .panel-group {
    margin: 0 14px;
}
.iphone-display .panel-group .panel {
    border-radius: 0;
    border: 2px solid rgba(105, 105, 155, 0.3);
    border-left-color: transparent;
    border-right-color: transparent;
}
.iphone-display .panel-title {
    position: relative;
}
.iphone-display .panel-title>a {
    color: #69699b;
    font-size: 14px;
}
.iphone-display .panel-title>a::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    border: 1px solid #69699b;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.iphone-display .panel-title>a.collapsed::after {
    border: 1px solid #69699b;
    border-top-color: transparent;
    border-right-color: transparent;
}
.iphone-display .panel-title img {
    margin-right: 6px;
}
.iphone-display .panel-default>.panel-heading {
    padding: 15px 0;
    background: transparent;
}
.iphone-display .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}
.iphone-display .panel-group .panel+.panel {
    margin-top: 0;
    border-top-color: transparent;
}
.iphone-display .panel-body {
    padding: 0;
    padding-bottom: 10px;
    color: #69699b;
    font-size: 12px;
    line-height: 16px;
}
.iphone-wrap {
    position: relative;
    z-index: 2
}
.center-flex {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 576px) {
    .iphone-display {
        left: 79px;
    }
    .iphone {
        visibility: hidden;
    }
}
